.carousel-container{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:100%;
    max-height:100vh;
    --padding:20px;
    background-color: black;
    box-sizing: border-box;
}

.carousel-wrapper{
    display:flex;
    justify-content: center;
    position:relative;
    padding-bottom: 300px;
    width: 100%;
    height: 50%;
}

.carousel-card{
    display: flex;
    --flex: 0 0 100%;
    position:absolute;
    overflow:hidden;
    --box-shadow: 0px 0px 5px 2px rgb(0,0,0,0.9);
    opacity:0;
    pointer-events: none;
    transform: translateX(-100%);
    transition:transform 1.5s ease-in-out;
}

.card-image{
    width:100%;
    max-width: 100%;
    max-height:100%;
    opacity: 3.0;
    object-fit: contain;
}

.card-overlay{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    width:100%;
    height:100%;
}

.card-text{
    font-size: 60px;
    font-weight:bold;
    font-family: Parisienne, Lato;
    color: white;
}

.carousel-card-active{
    opacity:1;
    transform:translateX(0%);
    pointer-events: auto;
}